{% if tabs is not empty %}
<div class="tabs-wrapper {{ container_class }}">
    <ul class="tabs-links {{ links_container_class }}">
        {% for key, item in tabs %}
        <li><a href="#" class="{{ item.class }} tabs-link" tab-index="{{ key }}">{{ item.title }}</a></li>
        {% endfor %}
    </ul>
    {% for key, item in tabs %}
    <div class="tabs-container {{ item.content_container_class }}" id="tab-container-{{ key }}">
        {{ item.content }}
        <div class='tabs-page-link-more'>
            {{ item.more_link }}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}