{% set module = 'social-auth' %}

{{ attach_library('social_auth/auth-icons') }}

{% for name, social_network in social_networks %}
  {% set sn_name = name|replace({'social_auth_': ''})|capitalize %}
  {% if destination %}
    <a class="{{ module }} auth-link" href="{{ path(social_network.route) }}?destination={{ destination }}">
  {% else %}
    <a class="{{ module }} auth-link" href="{{ path(social_network.route) }}">
  {% endif %}
    <img class="{{ module }} auth-icon" src="{{ base_path }}{{ social_network.img_path }}" alt="Login with {{sn_name}}" title="Login with {{sn_name}}">
    <span class="visually-hidden">Login with {{sn_name}}</span>
  </a>
{% endfor %}
