MY

{#{{ kint(form) }}#}
<div id="messages-wrapper">

</div>
<form>
<div id="form-wrapper">
{{ kint(form) }}
{{ form.form_id }}
{{ form.form_build_id  }}
{{ form.form_token }}
{{ form['wrapper']['first_name'] }}
{{ form['wrapper']['last_name'] }}
{{ form['wrapper']['username'] }}
{{ form['wrapper']['email'] }}
{{ form['wrapper']['terms'] }}

{{ form['wrapper']['actions'] }}
</div>
</form>